.table-view .table-cell {
    -fx-font-size: 20px;
    -fx-alignment: CENTER;
}
.table-view .column-header .label {
    -fx-font-size: 20px;
    -fx-alignment: CENTER;
}
.text{
    -fx-font-family: "Open Sans";
    -fx-font-size: 18px;
}